/* sample_4.css => testCss3_selector.html */

@charset "UTF-8";

@font-face {
	font-family: TESTF;
	src: url("/testcc/resources/fonts/FZSong_Super.TTF") format("truetype");
}

img[src$="_s.jpg"] {
	opacity: 0.3;
	border: 4px solid #f0f;
}

/* *:not(img) {
	border: 5px dashed #f00;
} */

li {
	list-style-type: none;
	margin-right: 30px;
	float: left;
	font-size: 60px;
	font-family: Arial, Helvitica, sans-serif;
}

li:nth-child(odd) {
	color: #900;
	font-weight: bold;
	font-family: FZSong_Super;
}

li:nth-child(4n) {
	color: blue;
	background-color: hsl(320, 20%, 50%);
}

li:nth-child(2) {
	color: skyblue;
	/* font-family: proxy1, Ms, serif; */
	font-family: TESTF;
}

div.mcol {
	column-count: 4;
	column-gap: 20px;
	column-rule: 1px dotted #f00;
	-webkit-column-count: 4;
	-webkit-column-gap: 20px;
	-webkit-column-rule: 1px dotted #f00;
	-moz-column-count: 4;
	-moz-column-gap: 20px;
	-moz-column-rule: 1px dotted #f00;
}






